# -----------------------------
# Terraform
# -----------------------------
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# LocalStack
# -----------------------------
.localstack/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# -----------------------------
# Go
# -----------------------------
bin/
coverage.out

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Linux
# -----------------------------
*~

# -----------------------------
# Logs
# -----------------------------
*.log


tracking.text
*.tfplan